<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>차징</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>차징</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.13</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>google-signin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.91035459357-lc3tir17pmmomf793bnce1qmstns4rh7</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>bundleidentifier</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.charzingapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaof6965d2b8a05c3aa81d6682a29c433d2</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>98</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>KAKAO_APP_KEY</key>
	<string>f6965d2b8a05c3aa81d6682a29c433d2</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>supertoss</string>
		<string>kakaotalk</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		<string>shinhan-sr-ansimclick</string>
		<string>shinhan-sr-ansimclick-naverpay</string>
		<string>shinhan-sr-ansimclick-payco</string>
		<string>shinhan-sr-ansimclick-amorepay</string>
		<string>shinhan-sr-ansimclick-ssgpay</string>
		<string>kb-acp</string>
		<string>kbpay</string>
		<string>samsungpay</string>
		<string>hdcardappcardansimclick</string>
		<string>lottesmartpay</string>
		<string>lotteappcard</string>
		<string>hanamopay</string>
		<string>hanaskcardmobileportal</string>
		<string>wooricard</string>
		<string>wooriopen</string>
		<string>nhappcardansimclick</string>
		<string>nhallonepayansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>payco</string>
		<string>shinsegaeeasypayment</string>
		<string>lpayapp</string>
		<string>finnq</string>
		<string>chaipayment</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>진단 리포트 사진 촬영을 위해 카메라 접근 권한이 필요합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이 앱은 지도를 표시하고 주변 위치 기반 기능을 위해 현재 위치 접근이 필요합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow $(PRODUCT_NAME) to access your microphone</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>진단 관련 사진을 저장하고 불러오기 위해 사진 라이브러리 접근 권한이 필요합니다.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
	</array>
	<key>NSUserNotificationUsageDescription</key>
	<string>예약 상태 변경 및 진단 결과 알림을 위해 푸시 알림 권한이 필요합니다.</string>
	<key>RCTNewArchEnabled</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Automatic</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
